.card {
    margin-left: 24%;
    margin-top: 40px;
}

h5 {
    text-align: center;
}

.profile {
    width: 300px;
    height: auto;
    text-align: center;
    padding: 15px;
    border: 3px solid black;
    margin-left: 25%;
}

img {
    object-fit: cover;
}